<h1>Assign Task</h1>


<form method="post">
    {% csrf_token %}

    <div class="form-group">
      <label for="task">Task to assign</label>
      <select name="task" id="task" class="form-control">
        {% for task in tasks_to_assign %}
          <option value="{{ task.pk }}">{{ task.title }}</option>
        {% endfor %}
      </select>
      <label for="developer">Developer</label>
      <select name="developer" id="developer" class="form-control">
        {% for dev in devs %}
          <option value="{{ dev.pk }}">{{ dev.name_employee }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Invia</button>
  </form>
  